/*---ELEMENT DEFAULTS---*/

*
{
margin:0;
padding:0;
}

html
{
  height:100%
}
body
{
  background:-moz-radial-gradient(center, ellipse cover, rgba(237,245,247,1)
    0%, rgba(237,245,247,1) 20%, rgba(227,239,242,1) 20%, rgba(227,239,242,1) 40%, rgba(218,233,237,1)
    40%, rgba(218,233,237,1) 60%, rgba(206,225,229,1) 60%, rgba(206,225,229,1) 80%, rgba(192,218,224,1)
    80%, rgba(192,218,224,1) 100%);
  background-repeat:no-repeat;
  background-position: cover;
  background-size: cover;
  font-family:'Raleway', sans-serif;
  font-size:1rem;
  line-height: 1.5;
}

a
{
  text-decoration:none;
  background-color:transparent;
}

/*---HEADER & NAV BAR---*/

.NavContainer
{
  background: #7e9b9f;
  height: 2rem;
  margin: 2rem auto;
  width: 80%;
}

.HomePin
{
  width: 10rem;
  height: 10rem;
  position: absolute;
  float: left;
}

.HomePin a
{
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/BoskoPin.png");
  position: relative;
  float: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 1em;
  z-index: 5001;
  transform: scale(0.8);
}

.NavButton
{
  border: 0 none;
  padding: 0;
  margin: 0;
  position: relative;
  float: right;
  width: 2.5rem;
  height: 7rem;
  background: transparent;
  margin-right:2rem;
}

.NavIcon{
  content: "";
  width: 100%;
  height: 100%;
  /*box-shadow: 0 -9px 0 2px,0 0 0 2px,0 9px 0 2px;*/
  color: #fff;
  background-image: url('http://esquiresque.github.io/assets/images/MenuBtn.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#MenuExpander
{
  content: "";
  display: block;
  height: 3rem;
  width: 100%;
  color:#E3EFF2;
}

.MenuVisible
{
  -webkit-transform: translateX(0);
}
.MenuDisappear
{
  -webkit-transform: translateX(-100%);
}

.MenuItem
{
  display: block;
  margin-left: 0;
  padding-left: 0;
  float: none;
  font-family: "Montserrat";
  font-size: 0.75rem;
  list-style: outside none none;
  font-size: 1.300rem;
}

.MenuLink
{
  border-top: 1px dotted rgba(255, 255, 255, 0.1);
  line-height: 1.6;
  margin: 0;
  padding: 0.875rem 2.4rem 0.875rem 1.5625rem;
  white-space: normal;
  transition: all 0.3s ease 0s !important;
}
  
/*---Actions---*/
[role="button"], a, area, button, input, label, select, summary, textarea
{
  touch-action: manipulation;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
{
  cursor: pointer;
}

button, select
{
  text-transform: none;
}

button {
  overflow: visible;
}

*, ::after, ::before {
  box-sizing: inherit;
}
