*
{
margin:0;
padding:0;
}

.HomePin
{
width: 12em;
height: 12em;
position: absolute;
float: left;
}

.HomePin a
{
width: 100%;
height: 100%;
background-image: url("/assets/images/BoskoLogoPin1.png");
position: relative;
float: left;
background-repeat: no-repeat;
margin-left: 1em;
z-index: 5001;
transform: scale(0.8deg);
top: -2em;
}
